# <center> Data Preparation </center>
## <center> Step 1 <center>

------

In [1]:
# Constants
DATA_PATH_CHILD  = '../data/raw/G2000_data.csv'
DATA_PATH_PARENT = '../data/raw/EthA_data.csv'
EXPORT_PATH = '../data/processed/1_first_processed_merged_df.pkl'
FULL_SEQ = ['AA', 'AC', 'AG', 'AT', 'CA', 'CC', 'CG', 'CT', 'GA', 'GC', 'GG', 'GT', 'TA', 'TC', 'TG', 'TT']

In [2]:
import pandas as pd 
import numpy as np
import logging 
import pickle

In [3]:
raw_df_child = pd.read_csv(DATA_PATH_CHILD)

In [4]:
# Keeping copy of raw data
df_child = raw_df_child.copy()

In [5]:
raw_df_parent = pd.read_csv(DATA_PATH_PARENT)

In [6]:
df_parent = raw_df_parent.copy()

-----

<center> - Creating a new column in the DataFrame and assigning values based on concatenating the values from two existing columns <center>

<center>** full sequence of alleles **</center>

-----

In [7]:
# Childern full sequence of alleles
df_child['Child_full_DNA_Seq']= df_child['Allele1'] + df_child['Allele2']

In [8]:
df_parent['Parent_full_DNA_Seq']= df_parent['Allele1'] + df_parent['Allele2']

In [9]:
# make copy of G2000 ['ParentM','ParentF','Child_full_DNA_Seq']
df_child_data_copy = df_child[['ParentM','ParentF','Child_full_DNA_Seq']]

In [10]:
# Display information of (df_child_data_copy) G2000 ['ParentM','ParentF','Child_full_DNA_Seq']
df_child_data_copy.sample(10)

      ParentM ParentF                                 Child_full_DNA_Seq
16273   A1680  A11962  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTA...
19141   A1917  A14038  CTCCGTCGGCGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
158     A8477   A5993  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
1369    A3260  A14058  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
17641  A12192   A6303  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3684   A12934  A13770  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
366    A11021  A10123  CTCCATCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
13854   A5191   A9361  CTCCATCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
234    A11680  A11226  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
9337    A2493   A2160  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [11]:
# make copy of EthA ['Name','Parent_full_DNA_Seq']
df_parent_data_copy = df_parent[['Name','Parent_full_DNA_Seq']]

In [12]:
df_parent_data_copy.sample(10)

         Name                                Parent_full_DNA_Seq
5884    A5884  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
11505  A11505  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
4752    A4752  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
14917  A14917  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
932      A932  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTTATTCCCGTG...
7970    A7970  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3259    A3259  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3209    A3209  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
12999  A12999  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
14986  A14986  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

-----

## **Merging Operation**

-----

**Merging :**

Merge the dataframes using the `Name` column as the key. The key column for merging is located in the `df_parent` dataframe.


**Keys in `df_child` DataFrame:**

- Left DataFrame Key (`left_on`): `Name`
- Right DataFrame Key (`right_on`): `Father or Mother`

------

In [13]:
# Merging Once with Father and Once with Mother
parent_child_merge_father = pd.merge(df_parent_data_copy , df_child_data_copy , left_on = 'Name' , right_on= 'ParentF')
parent_child_merge_mother = pd.merge(df_parent_data_copy , df_child_data_copy , left_on = 'Name' , right_on= 'ParentM')

In [14]:
# check each dataframe
parent_child_merge_father.sample(10)

,Name,Parent_full_DNA_Seq,ParentM,ParentF,Child_full_DNA_Seq
11663,A7814,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2684,A7814,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
18319,A12610,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A3462,A12610,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21775,A14889,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A4109,A14889,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
2516,A1725,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A8135,A1725,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
17918,A12335,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A9819,A12335,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
6366,A4209,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A8812,A4209,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
8828,A5853,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A4696,A5853,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
10034,A6667,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A7413,A6667,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
15200,A10289,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2608,A10289,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
5464,A3619,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14171,A3619,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

-----

- ` here when we chech example row 1 we see that Name = 'A5643' and ParentF = 'A5643' and ParentM = 'A5036'`

- ` From this we can say that they are the same person`

- ` From data source they say that Name is unique identifier for a person`

- ` Finally, we conclude that Name is Father of the child `

------

In [15]:
parent_child_merge_mother.sample(10)

,Name,Parent_full_DNA_Seq,ParentM,ParentF,Child_full_DNA_Seq
4628,A2947,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2947,A2989,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3296,A2064,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2064,A13409,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21803,A14952,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14952,A8252,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
10647,A7253,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTTATTCCCGTG...,A7253,A6087,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTTATTCCCGTG...
4670,A2963,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATCCCCGTG...,A2963,A7742,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3810,A2378,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2378,A4790,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
671,A424,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A424,A3583,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
3525,A2198,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A2198,A1138,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
12322,A8417,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTTATTCCCGTG...,A8417,A11283,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
6483,A4325,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A4325,A14853,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [16]:
cleaned_data_first_part = parent_child_merge_father.drop(columns=['ParentM', 'ParentF'])
cleaned_data_first_part

,Name,Parent_full_DNA_Seq,Child_full_DNA_Seq
0,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...
1,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...
2,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...
3,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...
4,A1,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
...,...,...,...
21887,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21888,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21889,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21890,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...
21891,A14988,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [17]:
first_merged_df= pd.concat([cleaned_data_first_part, parent_child_merge_mother])

-----

## Verify results

-----

In [18]:
raw_df_parent [raw_df_parent['Name'] == 'A13904']

,Name,Gender,ParentM,ParentF,EthA,EthE,EthK,EthP,Allele1,Allele2
13904,A13904,F,Na,Na,1,0,0,0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [19]:
first_merged_df

,Name,Parent_full_DNA_Seq,Child_full_DNA_Seq,ParentM,ParentF
0,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,NaN,NaN
1,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,NaN,NaN
2,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...,NaN,NaN
3,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,NaN,NaN
4,A1,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,NaN,NaN
...,...,...,...,...,...
21887,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A1357
21888,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244
21889,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244
21890,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244
21891,A14997,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,A14997,A4244

-----

# Export Data

-----

In [20]:
first_merged_df.to_pickle(EXPORT_PATH)