# <center> Data Augmentation </center>
-----
## <center> Step 2 <center>

-------

- we need to load more data for parents that are not in our dataset to overcome the limitation of our dataset also underfitting the model

In [1]:
# Constants
DATA_PATH_RAW = '../data/raw/EthE_data.csv'
DATA_PATH_PROCESSED = '../data/processed/2_second_processed_merged_df.pkl'
EXPORT_PATH = '../data/processed/final_processed_data.pkl'

In [2]:
import pandas as pd 
import numpy as np

In [3]:
e_raw_df = pd.read_csv(DATA_PATH_RAW)
e_raw_df.sample(4)

,Name,Gender,ParentM,ParentF,EthA,EthE,EthK,EthP,Allele1,Allele2
3073,E3073,F,Na,Na,0,1,0,0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTTTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGAGAGCTCTGATTCCCGTG...
2930,E2930,F,Na,Na,0,1,0,0,CTCCGTCGACGCTTTAGGGAAATAGATGGGAGCTCTGATTCCTGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGGGCTCCGATTCCCGTG...
9950,E9950,M,Na,Na,0,1,0,0,CTCCGTCGACGCTTTAAGGACATGGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAAGGACATAGATGGGAGCTCCGATTCCCGTG...
12330,E12330,F,Na,Na,0,1,0,0,CTCCGTCGACGCTTTAGGGACATAGCTGGGAGTTCCGATTTCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...

In [4]:
e_raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     15000 non-null  object
 1   Gender   15000 non-null  object
 2   ParentM  15000 non-null  object
 3   ParentF  15000 non-null  object
 4   EthA     15000 non-null  int64
 5   EthE     15000 non-null  int64
 6   EthK     15000 non-null  int64
 7   EthP     15000 non-null  int64
 8   Allele1  15000 non-null  object
 9   Allele2  15000 non-null  object
dtypes: int64(4), object(6)
memory usage: 1.1+ MB

In [5]:
e_raw_df['Parent_full_DNA_Seq'] = e_raw_df['Allele1'] + e_raw_df['Allele2']

In [6]:
e_raw_df.sample(2)

,Name,Gender,ParentM,ParentF,EthA,EthE,EthK,EthP,Allele1,Allele2,Parent_full_DNA_Seq
3959,E3959,M,Na,Na,0,1,0,0,CTCCGTTGACGCTTTAGGGACATAGATGGGGGCTCTGATTCCCATG...,CTCCGTCGACGCTTTAGGGACATAGATGGGGGCTCTGATCCCCGCG...,CTCCGTTGACGCTTTAGGGACATAGATGGGGGCTCTGATTCCCATG...
1256,E1256,M,Na,Na,0,1,0,0,CTTCGTCGACGCTTTAGGGCCATAGATGGGAGCTCTGATCCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGGGCTCTGATTCCCGTA...,CTTCGTCGACGCTTTAGGGCCATAGATGGGAGCTCTGATCCCCGTG...

In [7]:
e_raw_df_copy = e_raw_df[['Name', 'Parent_full_DNA_Seq']]

In [8]:
e_raw_df_copy['target'] = 0

/var/folders/3z/w_2xtxjs7517xwd76c815h5c0000gn/T/ipykernel_52552/1249921608.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  e_raw_df_copy['target'] = 0

In [9]:
e_raw_df_copy.sample(4)

         Name                                Parent_full_DNA_Seq  target
2602    E2602  CTCCGTCGACGCTTTAGGGACATAGACGGAAGCTCCGATTCCCGTG...       0
13380  E13380  CTCCGTCGACACTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...       0
949      E949  CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...       0
5844    E5844  CTCCGTCGACGCTTTAGAGACATAGATGGGATCTCCGATTCTCGTG...       0

In [10]:
second_processed_merged_df = pd.read_pickle(DATA_PATH_PROCESSED)

In [11]:
final_processed_data = pd.concat([second_processed_merged_df , e_raw_df_copy])

In [12]:
final_processed_data

,Name,Parent_full_DNA_Seq,Child_full_DNA_Seq,ParentM,ParentF,target
0,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,NaN,NaN,0
1,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,NaN,NaN,0
2,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGACTCCCGTG...,NaN,NaN,1
3,A0,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTTCCGTG...,NaN,NaN,1
4,A1,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,NaN,NaN,0
...,...,...,...,...,...,...
14995,E14995,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCGTG...,NaN,NaN,NaN,0
14996,E14996,CTCAGTCGACGCTTTAGGGACGTAGATGGGAGCTCTGATTCCCGTG...,NaN,NaN,NaN,0
14997,E14997,TTCCGTCGACGCTTCAGGGCCACAGATGGGGGCTCTGATTCCCGTG...,NaN,NaN,NaN,0
14998,E14998,CTCCGTCGACGCTTTAGGGACATGGATGGGAGCTCTGATTCCCGTG...,NaN,NaN,NaN,0
14999,E14999,CTCCGTCGACGCTTTAGGGACATAGATGGGAGCTCTGATTCCCATG...,NaN,NaN,NaN,0

In [13]:
final_processed_data['target'].value_counts()

0    36985
1    21799
Name: target, dtype: int64

In [14]:
final_processed_data.to_pickle(EXPORT_PATH)