In [1]:
#!pip install pymongo

In [2]:
import pymongo
from pymongo import MongoClient
import pandas as pd 
import numpy as np

In [3]:
username = 'DinaAhmed'
password = 'route123'
cluster = 'cluster0.w8njcrd.mongodb.net'
database_name = 'dna_test'

In [4]:
db_connection_uri = f'mongodb+srv://{username}:{password}@{cluster}/{database_name}?retryWrites=true&w=majority'
client = pymongo.MongoClient(db_connection_uri)

In [5]:
# Access your database
database = client['dna_test']

In [6]:
hostname = 'cluster0.w8njcrd.mongodb.net'
port = 27017  # Default MongoDB port

# Create a MongoClient instance without authentication
client = pymongo.MongoClient(hostname, port)

In [7]:
# Access the "populations" collection
collection = database['populations']

In [8]:
records = collection.find_one()

In [9]:
records.keys()

dict_keys(['_id', 'lab_id', 'technical_id', 'DNA_sequence', 'name', 'address', 'national_id', 'phone', 'gender', 'birthdate', 'bloodType', 'status', 'description', 'createdAt', 'updatedAt', '__v'])

In [10]:
cursor = collection.find({ }, 
                    {'name' : 1 ,
                    'phone' : 1 ,
                    'gender' : 1 ,
                    'birthdate' : 1 ,
                    'bloodType': 1 ,
                    'status' : 1 ,
                    'description': 1 , 
                    'createdAt' : 1 ,
                    'updatedAt' : 1 , 
                    'DNA_sequence': 1})

# ''' 
# {'_id': 0 , 
#          'lab_id': 0,
#          'technical_id': 0 ,
#          'DNA_sequence': 0 ,
#          'name' : 1 ,
#          'address': 1 ,
#          'national_id' : 0 ,
#          'phone' : 1 ,
#          'gender' : 1 ,
#          'birthdate' : 1 ,
#          'bloodType': 1 ,
        #  'status' : 1 ,
        #  'description': 0 , 
        #  'createdAt' : 1 ,
        #  'updatedAt' : 1 , 
        #  '__v' : 0
#          }


# '''

# {'_id': 0 , 
#          'lab_id': 0,
#          'technical_id': 0 ,
#          'DNA_sequence': 0 ,
#          'name' : 1 ,
#          'address': 1 ,
#          'national_id' : 0 ,
#          'phone' : 1 ,
#          'gender' : 1 ,
#          'birthdate' : 1 ,
#          'bloodType': 1 ,
#          'status' : 1 ,
#          'description': 0 , 
#          'createdAt' : 1 ,
#          'updatedAt' : 1 , 
#          '__v' : 0
#          }

In [11]:
# show all mydoc data 
# for x in cursor:
#     print(x)

In [12]:
# # featch all the rows from the cursor
# for row in cursor:
#     print(row)

 'name': 'Esraa Mohamed', 'address': '123 Main Street', 'national_id': '11944411174321', 'phone': '01035972115', 'gender': 'Male', 'birthdate': datetime.datetime(1990, 1, 1, 0, 0), 'bloodType': 'AB+', 'status': 'missing', 'description': 'Lorem ipsum dolor sit amet', 'createdAt': datetime.datetime(2024, 3, 7, 20, 38, 33, 858000), 'updatedAt': datetime.datetime(2024, 3, 7, 20, 38, 33, 858000), '__v': 0}

In [13]:
import pandas as pd

# Initialize lists to store data
name_list = []
phone_list = []
gender_list = []
birthdate_list = []
bloodType_list = []
status_list = []
description_list = []
createdAt_list = []
updatedAt_list = []
DNA_sequence_list = []

# Process rows from cursor
for row in cursor:
    name_list.append(row['name'])
    phone_list.append(row['phone'])
    gender_list.append(row['gender'])
    birthdate_list.append(row['birthdate'])
    bloodType_list.append(row['bloodType'])
    status_list.append(row['status'])
    description_list.append(row['description'])
    createdAt_list.append(row['createdAt'])
    updatedAt_list.append(row['updatedAt'])
    DNA_sequence_list.append(row['DNA_sequence'])

# Create a dictionary from lists
data = {
    'name': name_list,
    'phone': phone_list,
    'gender': gender_list,
    'birthdate': birthdate_list,
    'bloodType': bloodType_list,
    'status': status_list,
    'description': description_list,
    'createdAt': createdAt_list,
    'updatedAt': updatedAt_list,
    'DNA_sequence': DNA_sequence_list
}

# Create DataFrame from dictionary
db_df = pd.DataFrame(data)

# Close cursor and client connections if needed

# Return DataFrame
db_df

,name,phone,gender,birthdate,bloodType,status,description,createdAt,updatedAt,DNA_sequence
0,Esraa Mohamed,01035571115,Male,1990-01-01,AB+,missing,Lorem ipsum dolor sit amet,2024-03-07 00:00:28.873,2024-03-07 20:41:09.963,U2FsdGVkX18AV8tIrsRz4pek36ybAN/Zimj1PQNPMSTBz4...
1,Esraa Mohamed,01035972115,Male,1990-01-01,AB+,missing,Lorem ipsum dolor sit amet,2024-03-07 20:38:33.858,2024-03-07 20:38:33.858,U2FsdGVkX18KJFzYLRwPC0vA51V2eN7QonW/u4LqLdF9QW...

In [14]:
# close cursor and client connections
cursor.close()
client.close()